# build worker image (VM template)
image: Visual Studio 2017

# default appveyour version
version: 0.0.0.{build}

environment:
  nuget_packages_folder: $(APPVEYOR_BUILD_FOLDER)\nuget-packages

install:
  - ps: Invoke-WebRequest "https://raw.githubusercontent.com/vostok/appveyor/master/cement-install.ps1" -Out "cement-install.ps1"
  - ps: ./cement-install.ps1
  
before_build:
  - cmd: nuget restore || exit /b 0
  - ps: |
      if ($env:APPVEYOR_REPO_BRANCH -eq "master" -or ($env:APPVEYOR_REPO_TAG_NAME -ne $null -and $env:APPVEYOR_REPO_TAG_NAME.StartsWith("prerelease/"))) {
        $formattedBuildNumber = [convert]::ToInt32($env:APPVEYOR_BUILD_NUMBER, 10).ToString("000000")
        $env:build_version_suffix = "-pre$formattedBuildNumber"
        $env:need_deploy_to_nuget = 'true'
      }
      if ($env:APPVEYOR_REPO_TAG_NAME -ne $null -and $env:APPVEYOR_REPO_TAG_NAME.StartsWith("release/")) {
        $env:build_version_suffix = ""
        $env:need_deploy_to_nuget = 'true'
        $env:need_deploy_to_github = 'true'
      }
      
  - ps: |
      Get-ChildItem -Recurse -Filter "*.nuspec" | ForEach-Object {
        $nuspec = [xml](Get-Content $_.FullName)
        $nuspecVersion = $nuspec.package.metadata.version
        $version = "$nuspecVersion$env:build_version_suffix"
        $csprojFile = $_.FullName.Replace(".nuspec", ".csproj")
        $csproj = Get-Content $csprojFile -Raw
        $versionNodes =  $csproj | Select-Xml -XPath "/Project/PropertyGroup/Version"
        if ($versionNodes.Count -ne 1) {
          throw "You should specify tag Version: ""<Version>1.0.0</Version>"" in $csprojFile"
        }
        
        $patchedCsproj = $csproj -replace "<Version>.+</Version>", "<Version>$version</Version>"
        $patchedCsproj | Out-File -Encoding UTF8 $csprojFile
      }

build_script:
  - cmd: cd .. & call %cm% init & cd %appveyor_build_folder%
  - cmd: call %cm% update-deps -v
  - cmd: call %cm% build-deps -v
  - cmd: call %cm% build

after_test:
  - ps: |
      Get-ChildItem -Recurse -Filter "*.nuspec" | ForEach-Object {
        if ("$env:build_version_suffix" -ne "") {
          nuget pack $_.FullName -Suffix "$env:build_version_suffix".TrimStart('-') -OutputDirectory $env:nuget_packages_folder
        } else {
          nuget pack $_.FullName -OutputDirectory $env:nuget_packages_folder
        }
      }

artifacts:
  - path: nuget-packages\*.nupkg

deploy:
  # Deploying to NuGet feed
  - provider: Environment
    name: FullNuget
    artifact: /.*\.nupkg/
    on:
      need_deploy_to_nuget: true

  - provider: Environment
    name: Nuget
    on:
      need_deploy_to_nuget: true
      
  # Deploy to GitHub Releases
  - provider: Environment
    name: GitHub
    artifact: /.*\.nupkg/
    on:
      need_deploy_to_github: true